Repository HyperloopUPV-H8/software, pull requests merged in 2023-11, with the labels that each got.

#25 [backend] Add Sniffer Demux
  backend/pkg/transport/session/sniffer.go
  backend/pkg/transport/session/sniffer_test.go
  backend/pkg/transport/session/socket.go
  backend/pkg/transport/transport.go
Labels: Task, Backend

#31 [backend] [pr1] packet decoder
  backend/pkg/transport/packet/data.go
  backend/pkg/transport/packet/value.go
  backend/pkg/transport/presentation/decoder.go
  backend/pkg/transport/presentation/decoder/data.go
  backend/pkg/transport/presentation/decoder/decoder.go
  backend/pkg/transport/presentation/errors.go
  backend/pkg/transport/transport.go
Labels: Task, Backend

#33 [backend] [PR1.1] Move data decoder to packet/data package
  backend/pkg/transport/packet/data.go
  backend/pkg/transport/packet/data/codec.go
  backend/pkg/transport/packet/data/decoder.go
  backend/pkg/transport/packet/data/descriptors.go
  backend/pkg/transport/packet/data/errors.go
  backend/pkg/transport/packet/data/packet.go
  backend/pkg/transport/packet/data/value.go
  backend/pkg/transport/presentation/decoder/data.go
  backend/pkg/transport/presentation/decoder/decoder.go
  backend/pkg/transport/presentation/errors.go
Labels: Task, Backend, Enhancement

#36 [backend] [pr2] protection decoder
  backend/pkg/transport/packet/protection/decoder.go
  backend/pkg/transport/packet/protection/errors.go
  backend/pkg/transport/packet/protection/kind.go
  backend/pkg/transport/packet/protection/packet.go
Labels: Task, Backend

#37 [backend] [pr3] add missing decoders
  backend/pkg/transport/packet/blcu/decoder.go
  backend/pkg/transport/packet/blcu/packet.go
  backend/pkg/transport/packet/info/decoder.go
  backend/pkg/transport/packet/info/package.go
  backend/pkg/transport/packet/order/codec.go
  backend/pkg/transport/packet/order/decoder.go
  backend/pkg/transport/packet/order/errors.go
  backend/pkg/transport/packet/order/packet.go
  backend/pkg/transport/packet/protection/packet.go
  backend/pkg/transport/packet/state/decoder.go
  backend/pkg/transport/packet/state/packet.go
  backend/pkg/transport/packet/timestamp.go
Labels: Task, Backend

#38 backend/gitignore changes
  .gitignore
  backend/.gitignore
  packet-sender/.gitignore
Labels: Enhancement

#39 [backend] [PR4] decoder tests and documentation
  backend/internal/excel/ade/ade_test.go
  backend/pkg/excel/ade/ade_test.go
  backend/pkg/transport/packet/blcu/decoder.go
  backend/pkg/transport/packet/blcu/packet.go
  backend/pkg/transport/packet/data/decoder.go
  backend/pkg/transport/packet/data/descriptors.go
  backend/pkg/transport/packet/data/errors.go
  backend/pkg/transport/packet/data/packet.go
  backend/pkg/transport/packet/info/decoder.go
  backend/pkg/transport/packet/info/package.go
  backend/pkg/transport/packet/order/codec.go
  backend/pkg/transport/packet/order/decoder.go
  backend/pkg/transport/packet/order/packet.go
  backend/pkg/transport/packet/protection/decoder.go
  backend/pkg/transport/packet/protection/errors.go
  backend/pkg/transport/packet/protection/kind.go
  backend/pkg/transport/packet/protection/packet.go
  backend/pkg/transport/packet/state/decoder.go
  backend/pkg/transport/packet/state/packet.go
  backend/pkg/transport/packet/timestamp.go
  backend/pkg/transport/presentation/decoder.go
  backend/pkg/transport/presentation/decoder/decoder.go
  backend/pkg/transport/presentation/decoder_test.go
  backend/pkg/transport/transport.go
Labels: Task, Backend

#32 [ethernet-view] Swap charts library
  ethernet-view/package-lock.json
  ethernet-view/package.json
  ethernet-view/src/components/ChartMenu/ChartActions.ts
  ethernet-view/src/components/ChartMenu/ChartElement.ts
  ethernet-view/src/components/ChartMenu/ChartList/ChartElement/ChartElement.module.scss
  ethernet-view/src/components/ChartMenu/ChartList/ChartElement/ChartElement.tsx
  ethernet-view/src/components/ChartMenu/ChartList/ChartList.tsx
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/ChartWithLegend.module.scss
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/ChartWithLegend.tsx
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/Legend/Legend.module.scss
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/Legend/Legend.tsx
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/Legend/LegendItem/LegendItem.module.scss
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/Legend/LegendItem/LegendItem.tsx
  ethernet-view/src/components/ChartMenu/ChartMenu.tsx
  ethernet-view/src/components/ChartMenu/types.ts
  ethernet-view/src/components/ChartMenu/useCharts.ts
Labels: Feature, Frontend

#41 [ethernet-view] Add units in charts legend
  ethernet-view/src/components/ChartMenu/ChartActions.ts
  ethernet-view/src/components/ChartMenu/ChartList/ChartElement/ChartElement.tsx
  ethernet-view/src/components/ChartMenu/ChartList/ChartList.tsx
  ethernet-view/src/components/ChartMenu/ChartList/color.ts
  ethernet-view/src/components/ChartMenu/types.ts
  ethernet-view/src/components/ChartMenu/useMeasurements.ts
Labels: Feature, Frontend

#42 [backend] packet encoder
  backend/pkg/transport/packet/data/codec.go
  backend/pkg/transport/packet/data/descriptors.go
  backend/pkg/transport/packet/data/encoder.go
  backend/pkg/transport/packet/data/errors.go
  backend/pkg/transport/presentation/encoder.go
  backend/pkg/transport/presentation/encoder_test.go
  backend/pkg/transport/transport.go
Labels: Task, Backend

#44 [common-front] Fix branch error when updating to mono-repo
  common-front/LICENSE
  common-front/README.md
  common-front/lib/adapters/PodData.ts
  common-front/lib/broker/Broker.ts
  common-front/lib/components/ColorfulChart/ColorfulChart.tsx
  common-front/lib/components/ColorfulChart/Legend/Legend.tsx
  common-front/lib/components/Connections/Connections.tsx
  common-front/lib/components/Connections/useConnections.ts
  common-front/lib/components/LinesChart/LinesChart.tsx
  common-front/lib/components/LinesChart/VerticalAxis/VerticalAxis.tsx
  common-front/lib/components/LinesChart/useLines.ts
  common-front/lib/components/MessagesContainer/Messages/MessageView/InfoMessageView/InfoMessageView.tsx
  common-front/lib/components/MessagesContainer/Messages/MessageView/ProtectionMessageView/ProtectionMessageView.tsx
  common-front/lib/components/MessagesContainer/Messages/Messages.tsx
  common-front/lib/components/MessagesContainer/useMessages.ts
  common-front/lib/components/Orders/BoardOrdersView/OrdersList/Form/Field/Input/Input.tsx
  common-front/lib/components/Orders/useOrders.ts
  common-front/lib/form/useForm.ts
  common-front/lib/hooks/WebRTC/useWebRTC.ts
  common-front/lib/hooks/useCameras.ts
  common-front/lib/index.ts
  common-front/lib/models/Message.ts
  common-front/lib/models/PodData/Packet.ts
  common-front/lib/models/PodData/PodData.ts
  common-front/lib/selectors/LCU.ts
  common-front/lib/slices/connectionsSlice.ts
  common-front/lib/slices/index.ts
  common-front/lib/slices/messagesSlice.ts
  common-front/lib/slices/ordersSlice.ts
  common-front/lib/slices/podDataSlice.ts
  common-front/lib/store/connectionsStore.ts
  common-front/lib/store/index.ts
  common-front/lib/store/measurementsStore.ts
  common-front/lib/store/messagesStore.ts
  common-front/lib/store/ordersStore.ts
  common-front/lib/store/podDataStore.ts
  common-front/lib/wsHandler/WsHandler.ts
  common-front/package-lock.json
  common-front/package.json
Labels: Task, Frontend

#45 [ethernet-view] Update develop to h9-ethernet-view develop branch
  common-front/lib/components/Connections/useConnections.ts
  common-front/lib/components/FormComponents/ExpandablePairs/ExpandablePairs.tsx
  common-front/lib/components/Orders/useOrders.ts
  common-front/lib/store/podDataStore.ts
  common-front/lib/wsHandler/useSubscribe.ts
  common-front/package-lock.json
  common-front/package.json
  ethernet-view/package-lock.json
  ethernet-view/package.json
  ethernet-view/src/App.tsx
  ethernet-view/src/components/ChartMenu/ChartMenu.tsx
  ethernet-view/src/components/MessagesContainer/Messages/Messages.tsx
  ethernet-view/src/components/MessagesContainer/useMessages.ts
  ethernet-view/src/components/OrdersContainer/OrdersContainer.tsx
  ethernet-view/src/components/ReceiveTable/BoardView/PacketView/PacketView.tsx
  ethernet-view/src/components/ReceiveTable/Header/Header.tsx
  ethernet-view/src/components/ReceiveTable/TableUpdater.tsx
  ethernet-view/src/main.tsx
  ethernet-view/src/pages/HomePage/ReceiveColumn/ReceiveColumn.tsx
  ethernet-view/src/slices/columnsSlice.ts
  ethernet-view/src/slices/connectionsSlice.ts
  ethernet-view/src/slices/measurementsSlice.ts
  ethernet-view/src/slices/messagesSlice.ts
  ethernet-view/src/slices/ordersSlice.ts
  ethernet-view/src/slices/podDataSlice.ts
  ethernet-view/src/store.ts
  ethernet-view/src/store/columnsStore.ts
Labels: Task, Frontend

#40 [backend] [PR1] logger-structure-v3
  backend/pkg/abstraction/logger.go
  backend/pkg/logger/CHANGELOG.md
  backend/pkg/logger/data/logger.go
  backend/pkg/logger/errors.go
  backend/pkg/logger/logger.go
  backend/pkg/transport/packet/data/packet.go
  go.work.sum
Labels: Task, Backend

#47 [backend] TCP connections rework
  backend/pkg/transport/network/tcp/client.go
  backend/pkg/transport/network/tcp/server.go
  backend/pkg/transport/network/tcp/tcp.go
  backend/pkg/transport/transport.go
Labels: Task, Backend, Enhancement

#51 [backend] [PR1] transport implementation
  backend/pkg/abstraction/transport.go
  backend/pkg/transport/constructor.go
  backend/pkg/transport/errors.go
  backend/pkg/transport/messages.go
  backend/pkg/transport/network/tcp/client.go
  backend/pkg/transport/network/tcp/conn.go
  backend/pkg/transport/network/tcp/server.go
  backend/pkg/transport/notifications.go
  backend/pkg/transport/session/sniffer.go
  backend/pkg/transport/transport.go
Labels: Task, Backend

#57 [backend] [PR2] logger-Message Sublogger
  backend/pkg/logger/CHANGELOG.md
  backend/pkg/logger/data/logger.go
  backend/pkg/logger/messages/logger.go
  backend/pkg/transport/packet/info/packet.go
  backend/pkg/transport/packet/timestamp.go
Labels: Task, Backend

#53 [backend] [PR1] Transport module integration
  backend/cmd/config.toml
  backend/cmd/main.go
  backend/internal/blcu/blcu.go
  backend/internal/blcu/download.go
  backend/internal/blcu/upload.go
  backend/internal/message_logger/loggable_info.go
  backend/internal/message_logger/loggable_protection.go
  backend/internal/order_logger/loggable_order.go
  backend/internal/order_transfer/models/order.go
  backend/internal/order_transfer/order_transfer.go
  backend/internal/packet/descriptors.go
  backend/internal/packet/packet.go
  backend/internal/packet/value.go
  backend/internal/packet_logger/loggable_update.go
  backend/internal/pipe/config.go
  backend/internal/pipe/constructor.go
  backend/internal/pipe/pipe.go
  backend/internal/sniffer/config.go
  backend/internal/sniffer/sniffer.go
  backend/internal/update_factory/update_factory.go
  backend/internal/value_logger/loggable_value.go
  backend/internal/vehicle/bitarray_parser.go
  backend/internal/vehicle/constructor.go
  backend/internal/vehicle/message_parser/constructor.go
  backend/internal/vehicle/message_parser/message_adapter.go
  backend/internal/vehicle/message_parser/message_parser.go
  backend/internal/vehicle/models/messages.go
  backend/internal/vehicle/models/order.go
  backend/internal/vehicle/models/packet_update.go
  backend/internal/vehicle/models/spaceState.go
  backend/internal/vehicle/models/time_accumulation.go
  backend/internal/vehicle/models/timestamp.go
  backend/internal/vehicle/models/types.go
  backend/internal/vehicle/packet_parser/constructor.go
  backend/internal/vehicle/packet_parser/descriptors.go
  backend/internal/vehicle/packet_parser/packet_parser.go
  backend/internal/vehicle/packet_parser/parsers.go
  backend/internal/vehicle/pipe_readers.go
  backend/internal/vehicle/vehicle.go
  backend/pkg/transport/network/sniffer/sniffer.go
  backend/pkg/transport/network/sniffer/sniffer_test.go
  backend/pkg/transport/network/tcp/client.go
  backend/pkg/transport/packet/data/decoder.go
  backend/pkg/transport/packet/data/encoder.go
  backend/pkg/transport/packet/data/packet.go
  backend/pkg/transport/presentation/decoder.go
  backend/pkg/transport/presentation/decoder_test.go
  backend/pkg/transport/presentation/encoder.go
  backend/pkg/transport/presentation/encoder_test.go
  backend/pkg/transport/session/buffer.go
  backend/pkg/transport/session/sniffer.go
  backend/pkg/transport/transport.go
  backend/pkg/vehicle/vehicle.go
  packet-sender/PacketGenerator.go
  packet-sender/main.go
Labels: Task, Backend

#59 [backend][PR3] logger/order-sublogger
  backend/pkg/logger/CHANGELOG.md
  backend/pkg/logger/order/logger.go
Labels: Task, Backend

#60 [backend][PR4] logger/state-sublogger
  backend/pkg/logger/CHANGELOG.md
  backend/pkg/logger/state/logger.go
Labels: Task, Backend
