Repository HyperloopUPV-H8/software, pull requests merged in 2023-12, with the labels that each got.

#61 [actions] [PR1] Github Actions - Backend build workflow
  .github/workflows/build.yaml
  backend/load-secret.sh
  load-secret.sh
Labels: Task, Backend

#65 [ethernet-view] return to old charts
  ethernet-view/src/components/ChartMenu/ChartElement.ts
  ethernet-view/src/components/ChartMenu/ChartList/ChartElement/ChartElement.module.scss
  ethernet-view/src/components/ChartMenu/ChartList/ChartElement/ChartElement.tsx
  ethernet-view/src/components/ChartMenu/ChartList/ChartList.tsx
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/ChartWithLegend.module.scss
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/ChartWithLegend.tsx
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/Legend/Legend.module.scss
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/Legend/Legend.tsx
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/Legend/LegendItem/LegendItem.module.scss
  ethernet-view/src/components/ChartMenu/ChartList/ChartWithLegend/Legend/LegendItem/LegendItem.tsx
  ethernet-view/src/components/ChartMenu/ChartList/color.ts
  ethernet-view/src/components/ChartMenu/ChartMenu.tsx
  ethernet-view/src/components/ChartMenu/useCharts.ts
  ethernet-view/src/components/ChartMenu/useMeasurements.ts
Labels: Task, Frontend

#66 [actions] [PR2] Add ethernet view build workflow
  .github/workflows/build-backend.yaml
  .github/workflows/build-ethernet-view.yaml
  .github/workflows/pre-release.yaml
  .github/workflows/release.yaml
Labels: Task, Frontend

#70 [backend] Unit Converter
  backend/cmd/main.go
  backend/pkg/transport/packet/data/converter.go
  backend/pkg/transport/packet/data/descriptors.go
  backend/pkg/transport/presentation/decoder_test.go
  backend/pkg/transport/presentation/encoder_test.go
Labels: Task, Backend

#71 [backend] [actions] Add testing workflow for the backend
  .github/workflows/build-backend.yaml
  .github/workflows/build-ethernet-view.yaml
  .github/workflows/test-backend.yaml
  backend/pkg/transport/session/buffer.go
  backend/pkg/transport/session/sniffer_test.go
  go.work.sum
Labels: Task, Backend, Enhancement

#69 [backend] logger-implementation
  .gitignore
  backend/cmd/main.go
  backend/pkg/abstraction/logger.go
  backend/pkg/logger/CHANGELOG.md
  backend/pkg/logger/data/logger.go
  backend/pkg/logger/errors.go
  backend/pkg/logger/logger.go
  backend/pkg/logger/messages/logger.go
  backend/pkg/logger/order/logger.go
  backend/pkg/logger/state/logger.go
  backend/pkg/transport/packet/info/packet.go
Labels: Task, Backend

#81 [backend] [PR 1] Broker with data and connection topics
  backend/cmd/main.go
  backend/internal/server/handler.go
  backend/internal/server/server.go
  backend/internal/server/websocket.go
  backend/pkg/broker/broker.go
  backend/pkg/broker/errors.go
  backend/pkg/broker/topics/blcu/download.go
  backend/pkg/broker/topics/blcu/upload.go
  backend/pkg/broker/topics/connection/push.go
  backend/pkg/broker/topics/connection/update.go
  backend/pkg/broker/topics/data/push.go
  backend/pkg/broker/topics/data/update.go
  backend/pkg/broker/topics/errors.go
  backend/pkg/broker/topics/logger/enable.go
  backend/pkg/broker/topics/message/update.go
  backend/pkg/broker/topics/order/send.go
  backend/pkg/broker/topics/order/state.go
  backend/pkg/broker/topics/topic.go
  backend/pkg/http/handlers.go
  backend/pkg/http/mux.go
  backend/pkg/http/server.go
  backend/pkg/transport/constructor.go
  backend/pkg/transport/transport.go
  backend/pkg/websocket/client.go
  backend/pkg/websocket/errors.go
  backend/pkg/websocket/pool.go
  backend/pkg/websocket/upgrader.go
  go.work.sum
Labels: Task, Backend

#82 [backend] Better errors for logger
  backend/pkg/logger/data/logger.go
  backend/pkg/logger/errors.go
  backend/pkg/logger/logger.go
  backend/pkg/logger/messages/logger.go
  backend/pkg/logger/order/logger.go
  backend/pkg/logger/state/logger.go
Labels: Backend, Enhancement

#80 [backend] Fetch packet metadata
  backend/cmd/main.go
  backend/pkg/logger/data/logger.go
  backend/pkg/logger/errors.go
  backend/pkg/logger/logger.go
  backend/pkg/logger/messages/logger.go
  backend/pkg/logger/order/logger.go
  backend/pkg/logger/state/logger.go
  backend/pkg/transport/notifications.go
  backend/pkg/transport/transport.go
Labels: Task, Backend
