Repository HyperloopUPV-H8/software, pull requests merged in 2024-05, with the labels that each got.

#124 [ethernet-view] Logger Charts
  backend/pkg/logger/data/logger.go
  backend/pkg/logger/logger.go
  backend/pkg/logger/order/logger.go
  backend/pkg/logger/protection/logger.go
  ethernet-view/src/assets/svg/logs.svg
  ethernet-view/src/components/ChartMenu/ChartMenu.tsx
  ethernet-view/src/components/ChartMenu/Sidebar/Sidebar.module.scss
  ethernet-view/src/components/ChartMenu/Sidebar/Sidebar.tsx
  ethernet-view/src/pages/LoggerPage/ChartsColumn/ChartMenu/ChartElement/ChartCanvas.tsx
  ethernet-view/src/pages/LoggerPage/ChartsColumn/ChartMenu/ChartElement/ChartElement.tsx
  ethernet-view/src/pages/LoggerPage/ChartsColumn/ChartMenu/ChartElement/ChartLegend.tsx
  ethernet-view/src/pages/LoggerPage/ChartsColumn/ChartMenu/ChartMenu.tsx
  ethernet-view/src/pages/LoggerPage/ChartsColumn/ChartsColumn.tsx
  ethernet-view/src/pages/LoggerPage/LoggerPage.tsx
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/LogList/LogItem/LogItem.module.scss
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/LogList/LogItem/LogItem.tsx
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/LogsProcessor.ts
  ethernet-view/src/pages/LoggerPage/useLogStore.ts
Labels: Feature, Frontend

#128 [backend] Logger Hotfix
  backend/pkg/logger/data/logger.go
Labels: Bug, Backend

#129 Fix logger file naming and close procedures
  backend/pkg/logger/data/logger.go
  backend/pkg/logger/logger.go
  backend/pkg/logger/protection/logger.go
Labels: Bug, Backend

#126 [backend][PR 2] Unit Tests / Broker Short & Logger
  backend/pkg/broker/topics/blcu/blcu_test.go
  backend/pkg/broker/topics/connection/connection_test.go
  backend/pkg/broker/topics/connection/push.go
  backend/pkg/broker/topics/connection/update.go
  backend/pkg/broker/topics/data/data_test.go
  backend/pkg/broker/topics/logger/enable.go
  backend/pkg/broker/topics/logger/logger_test.go
  backend/pkg/broker/topics/message/message_test.go
  backend/pkg/broker/topics/message/update.go
  backend/pkg/broker/topics/order/order_test.go
  backend/pkg/broker/topics/order/send.go
  backend/pkg/logger/logger.go
  backend/pkg/logger/logger_test.go
  backend/pkg/logger/state/logger.go
  backend/pkg/transport/network/tcp/tcp_test.go
Labels: Task, Backend, Testing

#133 [ethernet-view] Charts QoL
  common-front/package-lock.json
  ethernet-view/package-lock.json
  ethernet-view/package.json
  ethernet-view/src/App.tsx
  ethernet-view/src/assets/svg/cross-active.svg
  ethernet-view/src/assets/svg/cross.svg
  ethernet-view/src/components/ChartMenu/ChartElement/ChartCanvas/ChartCanvas.tsx
  ethernet-view/src/components/Navbar/Navbar.tsx
  ethernet-view/src/components/Navbar/NavbarItem/NavbarItem.module.scss
  ethernet-view/src/components/Navbar/NavbarItem/NavbarItem.tsx
  ethernet-view/src/layouts/AppLayout/AppLayout.tsx
  ethernet-view/src/main.tsx
  ethernet-view/src/pages/LoggerPage/ChartsColumn/ChartMenu/ChartElement/ChartCanvas.tsx
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/LogList/LogItem/LogItem.module.scss
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/LogList/LogItem/LogItem.tsx
  ethernet-view/src/pages/LoggerPage/useLogStore.ts
Labels: Task, Enhancement

#135 [backend] Better sniffer error handling
  backend/cmd/main.go
  backend/pkg/transport/session/sniffer.go
Labels: Backend, Enhancement

#137 [backend] Add length field to BLCU uploadEvent packet
  backend/pkg/boards/events.go
  backend/pkg/vehicle/vehicle.go
Labels: Backend

#138 [ethernet-view] Working State Orders
  .gitignore
  backend/cmd/main.go
  backend/pkg/broker/topics/logger/enable.go
  backend/pkg/broker/topics/order/send.go
  backend/pkg/broker/topics/order/state.go
  backend/pkg/vehicle/vehicle.go
  common-front/lib/components/Orders/useOrders.ts
  common-front/lib/store/ordersStore.ts
  ethernet-view/src/components/OrdersContainer/Orders/Orders.tsx
  go.work
  state-order-tester/.gitignore
  state-order-tester/go.mod
  state-order-tester/main.go
Labels: Feature, Frontend, Backend

#140 [control-station] Bar Indicator
  control-station/src/components/BarIndicator/BarIndicator.module.scss
  control-station/src/components/BarIndicator/BarIndicator.tsx
  control-station/src/components/GaugeTag/Gauge/Gauge.tsx
  control-station/src/state.ts
Labels: Feature, Frontend

#141 [backend] Fix timestamp in logger
  backend/pkg/logger/logger.go
Labels: Bug, Backend

#143 [ethernet-view] Hotfix bug with timestamps in Logger Page
  ethernet-view/src/pages/LoggerPage/ChartsColumn/ChartMenu/ChartElement/ChartElement.tsx
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/LogsProcessor.ts
Labels: Bug
