Repository HyperloopUPV-H8/software, pull requests merged in 2024-03, with the labels that each got.

#110 [ethernet-view] Collapsible elements
  backend/.gitignore
  ethernet-view/src/assets/svg/connection.svg
  ethernet-view/src/assets/svg/letter.svg
  ethernet-view/src/assets/svg/paper-airplane.svg
  ethernet-view/src/hooks/useSplit/useSplit.ts
  ethernet-view/src/layouts/SplitLayout/Component/Component.module.scss
  ethernet-view/src/layouts/SplitLayout/Component/Component.tsx
  ethernet-view/src/layouts/SplitLayout/Pane/Pane.module.scss
  ethernet-view/src/layouts/SplitLayout/Pane/Pane.tsx
  ethernet-view/src/layouts/SplitLayout/SplitLayout.tsx
  ethernet-view/src/pages/HomePage/ChartsColumn/ChartsColumn.tsx
  ethernet-view/src/pages/HomePage/HomePage.tsx
  ethernet-view/src/pages/HomePage/MessagesColumn/MessagesColumn.tsx
  ethernet-view/src/pages/HomePage/ReceiveColumn/ReceiveColumn.tsx
Labels: Task, Feature, Frontend

#111 [ethernet-view] Name adjustments
  ethernet-view/src/layouts/SplitLayout/SplitLayout.tsx
  ethernet-view/src/layouts/TabLayout/Header/Header.tsx
  ethernet-view/src/layouts/TabLayout/Header/TabBar/TabBar.tsx
  ethernet-view/src/layouts/TabLayout/TabLayout.tsx
  ethernet-view/src/layouts/TabLayout/useTabs.ts
  ethernet-view/src/pages/HomePage/ChartsColumn/ChartsColumn.tsx
  ethernet-view/src/pages/HomePage/HomePage.tsx
  ethernet-view/src/pages/HomePage/MessagesColumn/MessagesColumn.tsx
  ethernet-view/src/pages/HomePage/OrderColumn/OrderColumn.tsx
  ethernet-view/src/pages/HomePage/ReceiveColumn/ReceiveColumn.tsx
Labels: Frontend, Enhancement

#112 [backend] Better tracing messages
  backend/cmd/main.go
  backend/cmd/trace.go
  backend/pkg/transport/constructor.go
  backend/pkg/transport/errors.go
  backend/pkg/transport/network/payload.go
  backend/pkg/transport/network/sniffer/errors.go
  backend/pkg/transport/network/sniffer/sniffer.go
  backend/pkg/transport/network/sniffer/sniffer_test.go
  backend/pkg/transport/network/tcp/client.go
  backend/pkg/transport/network/tcp/config.go
  backend/pkg/transport/network/tcp/server.go
  backend/pkg/transport/presentation/decoder.go
  backend/pkg/transport/presentation/decoder_test.go
  backend/pkg/transport/presentation/encoder.go
  backend/pkg/transport/presentation/encoder_test.go
  backend/pkg/transport/session/sniffer.go
  backend/pkg/transport/session/sniffer_test.go
  backend/pkg/transport/transport.go
Labels: Task, Backend, Enhancement

#114 [backend] [PR2] better trace
  backend/cmd/main.go
  backend/pkg/broker/broker.go
  backend/pkg/http/handlers.go
  backend/pkg/logger/errors.go
  backend/pkg/logger/logger.go
  backend/pkg/transport/constructor.go
  backend/pkg/transport/network/sniffer/sniffer.go
  backend/pkg/transport/network/sniffer/sniffer_test.go
  backend/pkg/transport/network/tcp/client.go
  backend/pkg/transport/network/tcp/config.go
  backend/pkg/transport/network/tcp/server.go
  backend/pkg/transport/presentation/decoder.go
  backend/pkg/transport/presentation/decoder_test.go
  backend/pkg/transport/presentation/encoder.go
  backend/pkg/transport/presentation/encoder_test.go
  backend/pkg/transport/session/sniffer.go
  backend/pkg/transport/session/sniffer_test.go
  backend/pkg/transport/transport.go
  backend/pkg/vehicle/constructor.go
  backend/pkg/vehicle/vehicle.go
  backend/pkg/websocket/pool.go
  backend/pkg/websocket/upgrader.go
Labels: Task, Backend, Enhancement

#108 [backend] Boards module
  .gitignore
  backend/pkg/abstraction/broker.go
  backend/pkg/boards/blcu.go
  backend/pkg/boards/errors.go
  backend/pkg/boards/events.go
  backend/pkg/broker/broker.go
  backend/pkg/broker/topics/blcu/download.go
  backend/pkg/broker/topics/blcu/upload.go
  backend/pkg/broker/topics/order/send.go
  backend/pkg/logger/CHANGELOG.md
  backend/pkg/vehicle/vehicle.go
Labels: Task, Backend

#116 [ethernet-view] Navbar and React Router
  common-front/lib/components/Loader/Loader.tsx
  common-front/lib/hooks/index.ts
  common-front/lib/hooks/useLoadBackend.ts
  ethernet-view/package-lock.json
  ethernet-view/package.json
  ethernet-view/src/App.tsx
  ethernet-view/src/assets/svg/logger.svg
  ethernet-view/src/assets/svg/team_logo.svg
  ethernet-view/src/assets/svg/testing.svg
  ethernet-view/src/components/Navbar/Navbar.module.scss
  ethernet-view/src/components/Navbar/Navbar.tsx
  ethernet-view/src/components/Navbar/NavbarItem/NavbarItem.module.scss
  ethernet-view/src/components/Navbar/NavbarItem/NavbarItem.tsx
  ethernet-view/src/layouts/AppLayout/AppLayout.module.scss
  ethernet-view/src/layouts/AppLayout/AppLayout.tsx
  ethernet-view/src/main.tsx
  ethernet-view/src/pages/LoggerPage/ChartsColumn/ChartsColumn.tsx
  ethernet-view/src/pages/LoggerPage/LoggerPage.tsx
  ethernet-view/src/pages/TestingPage/ChartsColumn/ChartsColumn.tsx
  ethernet-view/src/pages/TestingPage/MessagesColumn/MessagesColumn.module.scss
  ethernet-view/src/pages/TestingPage/MessagesColumn/MessagesColumn.tsx
  ethernet-view/src/pages/TestingPage/OrderColumn/OrderColumn.tsx
  ethernet-view/src/pages/TestingPage/ReceiveColumn/ReceiveColumn.module.scss
  ethernet-view/src/pages/TestingPage/ReceiveColumn/ReceiveColumn.tsx
  ethernet-view/src/pages/TestingPage/TestingPage.module.scss
  ethernet-view/src/pages/TestingPage/TestingPage.tsx
  ethernet-view/src/styles/App.css
  ethernet-view/src/styles/styles.scss
Labels: Task, Feature, Frontend

#117 [backend] SNTP enable flag
  backend/cmd/main.go
Labels: Backend, Enhancement

#119 [ethernet-view] Load files logic
  ethernet-view/package-lock.json
  ethernet-view/package.json
  ethernet-view/src/assets/svg/close-folder.svg
  ethernet-view/src/components/FormComponents/Button/Button.tsx
  ethernet-view/src/hooks/useSplit/useSplit.ts
  ethernet-view/src/layouts/SplitLayout/SplitLayout.tsx
  ethernet-view/src/pages/LoggerPage/LoggerPage.module.scss
  ethernet-view/src/pages/LoggerPage/LoggerPage.tsx
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/Dropzone/Controls/Controls.module.scss
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/Dropzone/Controls/Controls.tsx
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/Dropzone/Dropzone.module.scss
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/Dropzone/Dropzone.tsx
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/Dropzone/useDropzone.ts
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/LogLoader.module.scss
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/LogLoader.tsx
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogLoader/LogsProcessor.ts
  ethernet-view/src/pages/LoggerPage/LogsColumn/LogsColumn.tsx
Labels: Feature
