Repository HyperloopUPV-H8/software, pull requests merged in 2025-02, with the labels that each got.

#200 [backend] Enforce ADJ tests
  backend/cmd/main.go
  backend/cmd/testadj.py
Labels: Backend

#204 [Backend] New packet sender
  backend/pkg/adj/adj.go
  backend/pkg/adj/models.go
  packet-sender/PacketGenerator.go
  packet-sender/go.mod
  packet-sender/go.sum
  packet-sender/main.go
Labels: Task, Backend

#203 [backend] ADJ submodule manipulation
  backend/cmd/config.go
  backend/cmd/config.toml
  backend/cmd/main.go
  backend/internal/adj/adj.go
Labels: Task, Backend

#213 Solved bug with uint32 orders
  ethernet-view/src/components/OrdersContainer/Orders/BoardOrders/OrderForm/Fields/Field/validation.ts
Labels: Bug, Frontend

#214 [backend] Adapt Backend to ADJ 2.0.0 & several bug fixes
  .gitignore
  backend/cmd/config.toml
  backend/internal/adj/adj.go
  backend/internal/adj/boards.go
  backend/internal/adj/git.go
  backend/internal/adj/models.go
  backend/internal/pod_data/measurement.go
  backend/internal/pod_data/pod_data.go
Labels: Bug, Feature, Backend
