Repository HyperloopUPV-H8/software, pull requests merged in 2025-05, with the labels that each got.

#254 [Backend] Logger QOL updates
  backend/pkg/logger/data/logger.go
  backend/pkg/logger/order/logger.go
  backend/pkg/logger/protection/logger.go
  backend/pkg/logger/state/logger.go
  backend/pkg/vehicle/notification.go
Labels: Feature, Backend

#253 [Backend] Clone a temp ADJ to check internet connection
  backend/internal/adj/git.go
  backend/pkg/adj/git.go
Labels: Bug, Backend

#255 Update vite alias to local files (common-front)
  control-station/vite.config.ts
  ethernet-view/vite.config.ts
Labels: Frontend

#241 [Backend] Version system and auto-update
  backend/cmd/VERSION.md
  backend/cmd/main.go
  backend/go.mod
  backend/go.sum
  go.work
  updater/go.mod
  updater/main.go
Labels: Backend, Enhancement

#270 [Backend] Avoid overflooding console with exponential backoff
  backend/pkg/transport/network/tcp/client.go
Labels: Feature, Backend

#269 [Backend] Updaters path draft
  backend/cmd/main.go
  updater/main.go
Labels: Backend

#278 [Backend] Propagate fault
  backend/cmd/config.go
  backend/cmd/config.toml
  backend/cmd/main.go
  backend/pkg/transport/transport.go
Labels: Feature, Backend

#279 [Backend] Warn when using local ADJ
  backend/internal/adj/git.go
  backend/pkg/adj/git.go
Labels: Backend

#283 Alternative dev envs
  .envrc
  .starship.toml
  DEVELOPMENT.md
  README.md
  backend/Dockerfile.dev
  docker-compose.dev.yml
  go.work.sum
  scripts/dev.sh
  shell.nix
Labels: Feature, Enhancement
